<%- include('header'); -%>

<head>
  <link rel="stylesheet" href="assets/css/profile.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto homeStyle" href="/index">Home</a></li> -->
        <li>
          <a class="nav-link scrollto active myProfile outline" href="/profile">Profile</a>
        </li>
        <li><a class="nav-link scrollto watchNow outline" href="/watch">Kids</a></li>
        <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <li><a class="nav-link scrollto aboutUs outline" href="/aboutUser">About Us</a></li>
        <li><a class="nav-link scrollto contactUs outline" href="/contactUser">Contact</a></li>
        <li><a class="nav-link scrollto logout outline" href="/logout">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle outline"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="profile-hero" class="">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>F.A.Q</h2> -->
      <h2>Profile</h2>
      <div class="section-title-div">
          <h3><%= userInfo.username %></h3>
        <div>
          <img src="/images/profile-pics/<%=userInfo.profileImage%>.png" alt="userImage">
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="leftHalf">
        <div class="myInfo">
          <h4>My Profile</h4>
          <div class="mainInfo">
            <div class="info">
              <ul>
              <% if(userInfo) { %>
                <li>Name: <%= userInfo.myName %></li>
                <li>Username: <%= userInfo.username %></li>
                <li>Age: <%= userInfo.age %></li>
                <li>Grade: <%= userInfo.grade %></li>
                <li>Birthday: <%= userInfo.birthday %></li>
                <li>Favorite Shows: <%= userInfo.favorite %></li>
              <% } else {%>
              <p>Could Not fetch Data</p>
              <% } %>
              </ul> 
            </div>
            <div class="profileImage">
              <img src="/images/profile-pics/<%=userInfo.profileImage%>.png" alt="profile image">
            </div>
          </div>
        </div>
        <!-- <div class="linkToHelp">
          <h4>Links</h4>
        </div> -->
        <div class="myComments">
          <h4>Notes</h4>
          <div class="col-sm-6">
            <!-- <h2></h2> -->
            <% if (user.local.email) { %>
            <form action="/comments" method="POST">
              <!-- <input type="text" placeholder="Place a Comment" name="name"> -->
              <input type="text" placeholder="Place a Comment" name="msg">
              <button type="submit">Submit</button>
            </form>
            <% } %>
          </div>
          <div class="col-sm-6">
            <!-- <h2>My List</h2> -->
            <ol class="comments">
              <% for(var i=0; i<moodry.length; i++) {%>
              <li class="comment">
                <!-- <span><%= moodry[i].name %></span> -->
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                <span><%= moodry[i].msg %></span>
              </li>
              <% } %>
            </ol>
          </div>
        </div>
      </div>
      <div class="rightHalf">
        <div class="watchLog">
          <h3>Watch Log</h3>
          <div id="tableWrapper" class="tableWrapper">
            <div class="scrollAssist">
              <table class="moodTable" style="width:100%;">
                <thead>

                  <tr class="headtr">
                    <!-- <th></th> -->
                    <th>Date</th>
                    <th>Mood</th>
                    <th>Video</th>
                  </tr>
                </thead>
                <tbody class="tableBody">

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="watchLog">
        <h3>Messages Sent</h3>
        <div id="tableWrapper" class="tableWrapper">
          <div class="scrollAssist">
            <table class="moodTable" style="width:100%;">
              <thead>
                <tr class="headtr">
            
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody class="tableBody">

              </tbody>
            </table>
          </div>
        </div>
      </div> -->
      <div class="games">
        <h3>Games Played</h3>
        <div id="tableWrapper" class="tableWrapper">
          <div class="scrollAssist">
            <table class="moodTable" style="width:100%;">
              <thead>

                <tr class="headtr">
                  <!-- <th></th> -->
                  <th>Date</th>
                  <th>Played</th>
                  <th>Total Visited</th>
                </tr>
              </thead>
              <tbody class="tableBody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="games">
        <h3>Learning Clicked</h3>
        <div id="tableWrapper" class="tableWrapper">
          <div class="scrollAssist">
            <table class="moodTable" style="width:100%;">
              <thead>

                <tr class="headtr">
                  <!-- <th></th> -->
                  <th>Date</th>
                  <th>Played</th>
                  <th>Total Visited</th>
                </tr>
              </thead>
              <tbody class="tableBody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>
</div>
</div>
<script src="assets/js/table.js"></script>
<%- include('footer'); -%>